<div>
  <div class="header">
    <div class="container">
      <div>
        <span class="logo">Notes Manager</span>
      </div>
      <div>
        <button class="login-button" (click)="login()" *ngIf="!(idToken$ | async) as idToken; else elseBlock">Login</button>
        <ng-template #elseBlock>
          <button class="login-button" (click)="logout()">Logout</button>
        </ng-template>
      </div>
    </div>
  </div>
  <div style="margin-top: 120px;">
    <app-notes></app-notes>
  </div>
</div>
